.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    justify-content: center;
    align-items: center;

    display: none;

    width: 100vw;
    height: 100vh;

    background-color: #000000bb;
}

.show {
    display: flex;
}

.create-book-modal {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: calc(100% - 20%);
    border-radius: 6px;
    padding: 64px 16px 32px;

    overflow: auto;
    background-color: #ffffff;
}

.create-book-modal .close-btn {
    position: absolute;
    top: 10%;
    right: 23%;

    font-size: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #000000;
}
